<%- include('header'); -%>

<h1>About Page</h1>
<p>
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aperiam,
	quos sint quam dignissimos necessitatibus inventore cupiditate commodi neque
	omnis mollitia nostrum minima et? Officia quod molestiae similique suscipit
	iusto?
</p>
<%- include('footer'); -%>
