<%- include('header'); -%>
  <div id="main-div">
    <%- include('sideNav', {sideNavList: sideNavList}); -%> 
    <div id="heading" class="box">
      
    </div>
    <div class="box">
      <h1><%= title%></h1>
      <% listItems.forEach(eachItem => { %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" id="" value="<%= eachItem.detail %>" onChange="this.form.submit()">
            <input type="hidden" name="hiddenCategory" value="<%= title%>">
            <p>
              <%= eachItem.detail %>
            </p> 
          </div>
        </form>
      <% });%>
      <form class="item" action="/" method="post" autocomplete="off">
        <input type="text" name="inputItem" autofocus>
        <button class="btn-form" type="submit" name="category" value="<%=title%>">+</button>
      </form>
    
    </div>
  </div>
<%- include('footer'); -%>