<div id="side-nav">
  <section>
    <%  sideNavList.forEach(list=>{ %>
        <a href="<%=list.toLowerCase()%>"><%=list %></a>
     <%}) %>
  </section>
  <form action="/addList" method="post" autocomplete="off">
    <input type="text" placeholder="new list" required name="sideInput">
    <button type="submit" class="btn-sideNav">Add </button>
  </form>
  
</