html {
	background-color: #e4e9fd;
	background-image: -webkit-linear-gradient(70deg, #a683e3 50%, #e4e9fd 50%);
	min-height: 1000px;
	font-family: 'helvetica neue';
}



.box {
	max-width: 400px;
	margin: 200px auto;
	background: white;
	border-radius: 5px;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.box h1{
	background-color: #a683e3;
	text-align: center;
	margin-top: 0;
	padding: 20px 0;
	color: #fff;
}


#side-nav{
	color: red;
	height: 80vh;
	width: 15vw;
	position: fixed;
	top: 50px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	padding: 50px 0 0 0;
}
#side-nav section {
	display: flex;
	flex-direction: column;
	height: 70%;
}

#side-nav section a{
	position: relative;
	background-color: #a683e3;
	text-align: center;
	color: #fff;
	padding: 20px;
	border: 1px solid black;
	font-size: 24px;
	font-weight: bolder;
	border-radius: 0 20px 0 0;
	margin-bottom: 20px;
	left: -50px;
	text-decoration: none;
}

/* .btn-sideNav {
	border-radius: 20px;
	background-color: #b8a4da;
	color: #fff;
} */
#side-nav a:hover {
	background-color: #573b88;
	cursor: pointer;
	left: -20px;
}

#side-nav form{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#side-nav input{
	width: 90%;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
}
#side-nav input::placeholder {
	color: #fff;
	opacity: 0.3;
}

#side-nav button {
	border: 1px solid #573b88;
	padding: 10px;
	font-size: larger;
	font-weight: bolder;
	border-radius: 10px;
	width: 50%;
}
#side-nav button:hover{
	background-color: #573b88;
	cursor: pointer;
	color: #fff;
}


.item {
	min-height: 70px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
	border-bottom: 0;
}

input:checked + p {
	text-decoration: line-through;
	text-decoration-color: #a683e3;
}

input[type='checkbox'] {
	margin: 20px;
}

p {
	margin: 0;
	padding: 20px;
	font-size: 20px;
	font-weight: 200;
	color: #00204a;
}
form{
	margin: 0;
	padding: 0;
}

form.item {
	text-align: center;
	margin-left: 20px;
}

button.btn-form {
	min-height: 50px;
	width: 50px;
	border-radius: 50%;
	border-color: transparent;
	background-color: #a683e3;
	color: #fff;
	font-size: 30px;
	padding-bottom: 6px;
	border-width: 0;
}

input[type='text'] {
	text-align: center;
	height: 60px;
	top: 10px;
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 200;
	width: 313px;
}

input[type='text'] {
	outline: none;
	box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
	color: grey;
	opacity: 1;
}

footer {
	position: fixed;
	bottom: 10px;
	color: white;
	color: rgba(0, 0, 0, 0.5);
	width: 100%;
	left: 48%;
}

